body {
  background-color: #FF6D61;
}

#root {
  height: 100vh;
  background-image: url('./assets/crown.png'), url('./assets/aubergine.png');
  background-size: 100px;
  background-position: 0, 0 10px;
}
